<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eLearning</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5fb304c49.js" crossorigin="anonymous"></script>
</head>
<body>
   
    <!--NAVBAR-->


    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse mr-auto">

                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="Index" style="color:#00664d"><i class="fas fa-home"></i> Home</a>
                    </li>


                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="News" style="color:#00664d"><i class="far fa-newspaper"></i> News</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold" asp-area="" asp-controller="Home" asp-action="UsageGuide" style="color:#00664d"><i class="fas fa-info-circle"></i> Support</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />

            </div>
        </div>
    </nav>

    @*<div class="alert-warning">
            <span class="fas fa-exclamation-triangle" aria-hidden="true">  Warning! The platform is undergoing maintainance. Downtime can be experienced at any time.</span>
        </div>*@


    @{
        string controller = "";
        if (ViewContext.RouteData.Values["Controller"] != null)
        {
            controller = ViewContext.RouteData.Values["Controller"].ToString();
        }
        else
        {
            controller = null;
        }

        var action = ViewContext.RouteData.Values["Action"];

        if (controller == "Home")
        {
            <div class="">
                <main role="main" class="">
                    @RenderBody()
                </main>
            </div>

        }
        else
        {

            <div class="container">
                <main role="main" class="pb-3">
                    <br />
                    @RenderBody()
                </main>
            </div>
        }
    }


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - eLearning - <a asp-area="" asp-controller="Home" asp-action="Privacy"  style="color:#00664d">Privacy</a> | <a asp-area="" asp-controller="Home" asp-action="TermsAndConditions"  style="color:#00664d">Terms and Conditions</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

@{

}