<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eLearning</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c5fb304c49.js" crossorigin="anonymous"></script>
</head>
<body>

    <!--NAVBAR-->

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse mr-auto">

                <ul class="navbar-nav flex-grow-1">

                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-color" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-color" asp-area="" asp-controller="Courses" asp-action="Index"><i class="fas fa-book"></i> My courses</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-color" asp-area="" asp-controller="Home" asp-action="MySubscriptions"><i class="far fa-id-card"></i> My subscriptions</a>
                    </li>

                    @*<li class="nav-item">
                        <a class="nav-link font-weight-bold text-color" asp-controller="Library" asp-action="Index"><i class="fas fa-book-open"></i> Digital Library <span class="badge badge-pill badge-info">Updated</span></a>
                    </li>*@

                    <li class="nav-item">
                        <a class="nav-link font-weight-bold text-color" asp-controller="Contact" asp-action="Index"><i class="fas fa-question-circle"></i> Support</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <partial name="_LoginPartial" />

            </div>
        </div>
    </nav>

    @{
        string controller = "";
        if (ViewContext.RouteData.Values["Controller"] != null)
        {
            controller = ViewContext.RouteData.Values["Controller"].ToString();
        }
        else
        {
            controller = null;
        }

        string action = "";
        if (ViewContext.RouteData.Values["Action"] != null)
        {
            action = ViewContext.RouteData.Values["Action"].ToString();
        }
        else
        {
            action = null;
        }

        if (controller == "Home" && action != "MySubscriptions")
        {
            <div class="">
                <main role="main" class="">
                    @RenderBody()
                </main>
            </div>

        }
        else
        {

            <div class="container">
                <main role="main" class="pb-3">
                    <br />
                    @RenderBody()
                </main>
            </div>
        }
    }

    <!-- Footer -->
    <footer class="page-footer font-small blue footer-custom  border-top">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 mb-2">
            <small>&copy; 2020 - Platform developed by ICI Bucharest. All rights reserved. - <a class="text-color" asp-area="" asp-controller="Home" asp-action="Privacy">GDPR</a> | <a class="text-color" asp-area="" asp-controller="Home" asp-action="TermsAndConditions">Privacy Policy</a></small>
        </div>
        <!-- Copyright -->

    </footer>

    <style>
        .footer-custom {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3rem; /* Footer height */
        }
    </style>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<style>
    .text-color {
        color: #004d99 !important;
    }
</style>