@model eLearning.Models.Course

@{
    ViewData["Title"] = "Create";
}

<h4 class ="text-center" style="color:#00664d;">Create new course</h4>
<hr />

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartingDate" class="control-label"></label>
                <input asp-for="StartingDate" class="form-control" />
                <span asp-validation-for="StartingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndingDate" class="control-label"></label>
                <input asp-for="EndingDate" class="form-control" />
                <span asp-validation-for="EndingDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="HasCertificate" /> @Html.DisplayNameFor(model => model.HasCertificate)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class=" text-white btn btn-block btn-rounded pr-2" style="background-color:#00664d;" />
                <a class="text-white btn btn-block   btn-rounded " style="background-color:#00664d;" asp-action="Index">Back to courses</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
