@model eLearning.Models.Course

@{
    ViewData["Title"] = "Details";
}
    <h2 class="" style="color: #00664d;">Course details</h2>
    <hr />
    <div class="card">
        <div class="">
            <div class="ml-2 mt-2">
                <h5 class="text-black mb-3">Name of the course:  <h7 class="text-black-50">@Html.DisplayFor(model => model.Name)</h7> </h5>
                <h5 class="text-black  mb-3">Starting Date:  <h7 class="text-black-50">@Html.DisplayFor(model => model.StartingDate)</h7></h5>
                <h5 class="text-black mb-3">Ending Date:  <h7 class="text-black-50">@Html.DisplayFor(model => model.EndingDate)</h7></h5>
                @if (Model.HasCertificate == false)
                {
                    <h5 class="text-black  mb-3">Has Certificate:  <h7 class="text-black-50">NO</h7></h5>
                }
                else
                {
                    <h5 class="text-black  mb-4">Has Certificate:  <h7 class="text-black-50">YES</h7></h5>
                }
            </div>
            <h2 class="mt-1" style="color: #00664d;">Student resources</h2>
            <hr />
            <div class="list-group d-flex">
                <form asp-action="Details" asp-controller="Trainings" method="get">
                    <button type="submit" class="btn-link btn font-weight-bold" style="color:#00664d; text-decoration:none;"><i class="fas fa-laptop-code"></i> Training</button>
                    <input type="hidden" name="id" value="@Model.Id" />
                </form>
                
                <a class="nav-link font-weight-bold" href="#" style="color:#00664d"><i class="fab fa-leanpub"></i> Evaluation</a>
                <a class="nav-link font-weight-bold" href="#" style="color:#00664d"><i class="fas fa-graduation-cap"></i> Certificate</a>
                <a class="nav-link font-weight-bold" href="#" style="color:#00664d"><i class="fas fa-arrow-circle-left"></i> Go back</a>

            </div>
        </div>
    </div>
<style>
    .card{
        border:none;
    }
</style>