
@{
    ViewData["Title"] = "NotRegistered";
}


<div class="container-fluid">
    
        <div class="text-center align-items-center pt-4 pb-4">
            <h4 class="card-title py-3 text-color" >Your license has been revoked</h4>
            <h4 class="text-color">Please verify your subscriptions page</h4>
            
            <a class="btn btn-rounded button-layout mt-5" asp-action="MySubscriptions" asp-controller="Home" >My subscriptions</a>
        
        </div>
    
</div>
<style>
    .text-color {
        color: #b30000;
    }

    .button-layout {
        color: white;
        background-color: #004d99;
    }
</style>
