
@{
    ViewData["Title"] = "NotRegistered";
}


<div class="container-fluid full-width">
    
        <div class="text-center align-items-center pt-4 pb-4">
            <h4 class="card-title py-3"style="color:#007acc"> You are not registerd at this course. Please verify your available courses. </h4>
            <br />
            <a class="btn btn-primary btn-rounded custom-btn"><i class=""></i><strong style="color:#e6f3ff;">My Courses</strong></a>
        
        </div>
    
</div>
<style>
    .full-width {
        margin-left: -10%;
        margin-right: -10%;
        width: 120%;
        height: 100%;
        margin-top: 3%;
        background-color: #e6f3ff;
    }
    .custom-btn {
        background-color: #007acc;
        border-color: #007acc;
    }
</style>
