
@{
    ViewData["Title"] = "Redeem Success";
}


<div class="container-fluid">

    <div class="text-center align-items-center">
        <br />
        <h3 class="" style="color:#00664d;">You have been subscribed to the course.</h3>
        <br />
        <br/>
        <div>
            <img class="" src="~/images/Check_green_icon.svg.png" style="height:16%; width:16%;"/>
        </div>
        <br />
        <br />
        <a class="btn btn-rounded text-white" style="background-color:#00664d;" href="@Url.Action("Index","Courses")">Back to courses</a>

    </div>

</div>