
@{
    ViewData["Title"] = "Redeem";
}

<h2 class="text-justify mt-3 mb-4" style="color:#a6a6a6;">Enter the key provided by ICI</h2>



<form class="align-items-center"  asp-controller="Courses" asp-action="Redeem" method="post">
    <div class="form-group">
        <label class="font-weight-bold mb-2" style="color:#a6a6a6" for="key">Serial code</label>
        <input type="text" class="form-control mb-2" style="width:38%;" id="key" name="key" placeholder="Enter serial code" required>
    </div>
    <button type="submit" class=" text-white btn btn-rounded" style="background-color:#a6a6a6;">Submit</button>
</form>





