<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <remove name="aspNetCore" />
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore requestTimeout="00:20:00" processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="InProcess">
      <environmentVariables>
        <environmentVariable name="SendGridUser" value="ICI-Bucharest" />
        <environmentVariable name="SendGridKey" value="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" />
      </environmentVariables>
    </aspNetCore>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>

  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=E-LEARNING\SQLEXPRESS;Database=learn.ici.ro;User ID=learn;Password=!qsertPCV1997!" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>