@model eLearning.Models.Lecture

@{
    ViewData["Title"] = "Edit";
}

<h3 class="text-center" style="color:#00664d;">Modify your lecture <i class="fas fa-pen"></i></h3>
<hr />
<div class="row d-flex justify-content-center"  style="color:#00664d;">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <input type="hidden" asp-for="Course_Id" />

            <div class="form-group">
                <label asp-for="Lecture_Title" class="control-label"></label>
                <input asp-for="Lecture_Title" class="form-control" />
                <span asp-validation-for="Lecture_Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Text_Content" class="control-label"></label>
                <input asp-for="Text_Content" class="form-control" />
                <span asp-validation-for="Text_Content" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="Index" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-block text-white" style="background-color:#00664d;" />
                <a class="btn btn-block text-white" style="background-color:#00664d;" asp-action="Index">Back to List</a>
            </div>
        </form>

    </div>
</div>



