@model int
@{
    ViewData["Title"] = "Reset Materials";
}

<h1>Reset and delete</h1>

<h3>Are you sure you want to delete all the materials?</h3>
<h5>This action can not be reverted</h5>
<div>
    <form asp-action="ResetConfirmed" method="post">
        <input type="hidden" value="@Model" name="id" id="id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>