@model int
@{
    ViewData["Title"] = "Reset Materials";
}



<h3 class="text-center mt-3 text-color" >Are you sure you want to delete all the materials?</h3>
<h5 class="text-center mt-3 mb-4 text-color" >This action can not be reverted</h5>
<div class="w-25 mt-2" style=" margin:0 auto;">
    <form asp-action="ResetConfirmed" method="post">
        <input type="hidden" value="@Model" name="id" id="id" />
        <input type="submit" value="Delete" class="btn btn-danger btn-block" />
    </form>
</div>
<style>

    .text-color {
        color: #b30000;
    }

    
</style>

