@model string[]

@{
    ViewData["Title"] = "Success";
}

<h2 class="text-center  text-color mt-5">License(s) created successfully <i class="fas fa-thumbs-up" style="color:green"></i></h2>

<br />

@foreach(string k in Model)
{
    <h5>@k</h5>
}
<style>
    .text-color {
       
        color: #004d99;
    
    }
</style>
