@{
    ViewData["Title"] = "Home Page";
}



<!--First element with picture-->

<div class="mb-3">

    <div class="text-black-50 text-center align-items-center rgba-black-strong py-5 px-4 ">
        <div>
            <h3 class="card-title py-3 font-weight-bold"><strong>Welcome to ICI-Learning platform</strong></h3>
            <p class="pb-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!
            </p>
            <a class="btn btn-info btn-rounded"><i class=""></i>Find more</a>
        </div>
    </div>


</div>



<!--Card deck-->
<div class="card-deck">
    <div class="card card-image" style="background-color: white;">

        <div class="text-black-50 text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
                <h6 class="pink-text"><i class="fa fa-graduation-cap"></i><strong></strong></h6>
                <h3 class="card-title py-3 font-weight-bold"><strong>Learning materials</strong></h3>
                <p class="pb-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!
                </p>
                <a class="btn btn-info btn-rounded"><i class=""></i> Find more</a>
            </div>
        </div>
    </div>


    <div class="card card-image" style="background-color:white;">
        <div class="text-black-50 text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
                <h6 class="green-text"><i class="fa fa-user-graduate"></i><strong> </strong></h6>
                <h3 class="card-title py-3 font-weight-bold"><strong>Exercises</strong></h3>
                <p class="pb-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!
                </p>
                <a class="btn btn-info btn-rounded"><i class=""></i>Find more</a>
            </div>
        </div>
    </div>


    <div class="card card-image" style="background-color: white;">
        <div class="text-black-50 text-center d-flex align-items-center rgba-black-strong py-5 px-4">
            <div>
                <h6 class="pink-text"><i class="fas fa-chart-pie"></i><strong></strong></h6>
                <h3 class="card-title py-3 font-weight-bold"><strong>Scenarios</strong></h3>
                <p class="pb-3">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                    Odit sed qui, dolorum!
                </p>
                <a class="btn btn-info btn-rounded"><i class=""></i> Find more</a>
            </div>
        </div>
    </div>


</div>






