@{
    ViewData["Title"] = "Home Page";
}

<div class="full_width">

    <video class="col-12" autoplay loop muted style="filter: blur(2px); -webkit-filter: blur(2px);"><source src="~/images/ezgif.com-crop.mp4" /></video>

    <div class="align-items-center text-center centered  container-fluid">

        <img src="~/images/logo_ICI_60x108.png" style="height: 60px; width: 108px;" />

        <div class="align-items-center">

            <h2 class="text-white text-center">Gateway for eLearning Services</h2>
            <h6 class="text-white text-center">Provided by ICI Bucharest for its registered members</h6>
            <br />
            <div class="align-items-center text-center">
                <a class="btn btn-lg btn-outline-dark text-white" asp-controller="Courses" asp-action="Index">Start Learning</a>
            </div>
        </div>

    </div>
</div>

<style>

    .full_width {
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    /* Bottom left text */
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }

    /* Top left text */
    .top-left {
        position: absolute;
        top: 0;
        left: 30px;
        right: 30px;
    }

    /* Top right text */
    .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    /* Bottom right text */
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }

    /* Centered text */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
