@{
    ViewData["Title"] = "Home Page";
}

<header>
    <div class="overlay"></div>
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="~/images/Futuristic - 896.mp4" type="video/mp4">
    </video>
    <div class="container h-100">
        <div class="d-flex h-100 text-center align-items-center">
            <div class="w-100 text-white">
                <img src="~/images/logo_ICI_60x108.png" style="height: 60px; width: 108px;" />
                <h3 class="display-4">Gateway for eLearning Services</h3>
                <p class="lead mb-0">Provided by ICI Bucharest for its registered members</p>
                <a class="nav-link  font-weight-bold text-white" asp-controller="Courses" asp-action="Index">Start Learning <i class="fas fa-play-circle"></i></a>
            </div>
        </div>
    </div>
</header>

<!--Facebook/site/contact-->
<div class="container mb-2" >
    <h2 class="text-center mt-3" style="color: #00664d;">Join our community to receive</h2>
    <div class="card-group">
     
        <div class="card align-items-center">

            <div class="card-body">
               
               <ul >
                   <li class="font-weight-bold" style="color: #00664d;">
                       Invitation to ICI-Bucharest Events and Conferences
                   </li>
                   <li  class="font-weight-bold" style="color: #00664d;">
                       Exclusive Cyber Challenges and Opportunities
                   </li>
                   <li class="font-weight-bold" style="color: #00664d;">
                       News about ICI-Bucharest activities
                   </li>
               </ul>

            </div>
        </div>
        
        <div class="card  align-items-center">

            <div class="card-body text-center d-inline-flex">
                <a href="https://www.facebook.com/ICIBucuresti"><img height="80" width="80" src="~/images/Facebook_f_logo_(2019).svg" /></a>
                <ul>
                    <li class =" font-weight-bold"style="list-style-type: none; color: #00664d;"><i class="fab fa-internet-explorer"></i> site web: <a href="https://www.ici.ro/" >www.ici.ro</a></li>
                    <li class =" font-weight-bold"style="list-style-type: none; color: #00664d;"><i class="far fa-envelope"></i> mail: <a href="mailto:cursuri@ici.ro">cursuri@ici.ro</a> </li>
                    <li class =" font-weight-bold"style="list-style-type: none; color: #00664d;"><i class="fas fa-phone"></i> telefon: <a href="tel:+40 744 777 411">+40 744 777 411</a></li>
                </ul>

            </div>
        </div>
      
        
    </div>
</div>










<style>
    header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

        header .overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: black;
            opacity: 0.5;
            z-index: 1;
        }

    media (pointer:coarse) and (hover:none) {
        header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}


    .full_width {
        position: relative;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
       
    }
    .card {
      
    
        border: none;
    }

</style>

