@{
    ViewData["Title"] = "Home Page";
}
    <div class="full_width">
        <video class=""  autoplay loop muted style="width:100%;"><source src="~/images/ezgif.com-crop.mp4" /></video> 
        
        <div class="top-left align-items-center">
            <h2 class="text-white text-center pb-2 ">Welcome to ICI Platform</h2>
            <div class="align-items-center text-center pt-1">
                <a class="btn btn-lg btn-outline-dark text-white" asp-controller="Courses" asp-action="Index">Start your learning experience</a>
            </div>
        </div>
    </div>
<style>
    .full_width {
      
        position:relative;
        margin: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom:0;
       
      
       
        
    }
  
    /* Bottom left text */
    .bottom-left {
        position: absolute;
        bottom: 8px;
        left: 16px;
    }

    /* Top left text */
    .top-left {
        position: absolute;
        top: 30%;
        left: 30px;
        right:30px;
        
    }

    /* Top right text */
    .top-right {
        position: absolute;
        top: 8px;
        right: 16px;
    }

    /* Bottom right text */
    .bottom-right {
        position: absolute;
        bottom: 8px;
        right: 16px;
    }

    /* Centered text */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

</style>





<!--
        <div>
            <video autoplay muted loop id="myVideo">
                <source src="~/images/Black - 13495.mp4" type="video/mp4">
            </video>
        </div>


<style>
    #myVideo {
        position:fixed;
        top:130px;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;

    }
</style>
        <!--First element with picture
    <div class="text-black-50 text-center align-items-center rgba-black-strong py-5 px-4 content">
        <div>
            <h3 class="card-title py-3 font-weight-bold"><strong>Welcome to ICI-Learning platform</strong></h3>
            <p class="pb-3">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                Odit sed qui, dolorum!
            </p>
            <a class="btn btn-lg btn-light" asp-controller="Courses" asp-action="Index">Start your learning experience</a>
        </div>
    </div>


    <div class="card-deck">
        <div class="card card-image" style="background-color: white;">

            <div class="text-black-50 text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h6 class="pink-text"><i class="fa fa-graduation-cap"></i><strong></strong></h6>
                    <h3 class="card-title py-3 font-weight-bold"><strong>Learning materials</strong></h3>
                    <p class="pb-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                        Odit sed qui, dolorum!
                    </p>
                    <a class="btn btn-info btn-rounded"><i class=""></i> Find more</a>
                </div>
            </div>
        </div>


        <div class="card card-image" style="background-color:white;">
            <div class="text-black-50 text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h6 class="green-text"><i class="fa fa-user-graduate"></i><strong> </strong></h6>
                    <h3 class="card-title py-3 font-weight-bold"><strong>Exercises</strong></h3>
                    <p class="pb-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                        Odit sed qui, dolorum!
                    </p>
                    <a class="btn btn-info btn-rounded"><i class=""></i>Find more</a>
                </div>
            </div>
        </div>


        <div class="card card-image" style="background-color: white;">
            <div class="text-black-50 text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                <div>
                    <h6 class="pink-text"><i class="fas fa-chart-pie"></i><strong></strong></h6>
                    <h3 class="card-title py-3 font-weight-bold"><strong>Scenarios</strong></h3>
                    <p class="pb-3">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                        optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                        Odit sed qui, dolorum!
                    </p>
                    <a class="btn btn-info btn-rounded"><i class=""></i> Find more</a>
                </div>
            </div>
        </div>


    </div>

        -->
