@{
    ViewData["Title"] = "News";
}


<br />
<div class="container">
    <div class="card mb-3 mt-3">

        <div class="card-body">
            <h5 class="card-title"><a href="https://www.infosecurity-magazine.com/news/irs-phishers-covid19-stimulus/">IRS: Phishers Using #COVID19 Stimulus Payments as Lure</a></h5>
            <p class="card-text">Tax office warns of email, text, phone, social and in person scams</p>
           
        </div>
    </div>
    <br />
    <div class="card mb-3">

        <div class="card-body">
            <h5 class="card-title"><a href="https://threatpost.com/critical-wordpress-e-learning-plugin-bugs-cheating/155290/">Critical WordPress e-Learning Plugin Bugs Open Door to Cheating</a></h5>
            <p class="card-text">The flaws in LearnPress, LearnDash and LifterLMS could have allowed unauthenticated students to change their grades, cheat on tests and gain teacher privileges.</p>
           
        </div>
    </div>
    <br />
    <div class="card mb-3">

        <div class="card-body">
            <h5 class="card-title"><a href="https://www.itweb.co.za/content/VgZeyqJoNj4vdjX9?web_view=true">Malware infects 1.69m Android devices in SA</a></h5>
            <p class="card-text">Some 1.69 million Android devices were infected with malware in South Africa last year.</p>
            
        </div>
    </div>
    <br />
    <div class="card mb-3">

        <div class="card-body">
            <h5 class="card-title"><a href="https://www.hindustantimes.com/tech/cert-in-has-an-email-scam-warning-for-you-here-s-what-you-need-to-know/story-TZo2pjLXtYwNTRo9ekLEWP.html?&web_view=true">CERT-In has an email scam warning for you: Here’s what you need to know</a></h5>
            <p class="card-text">As per the advisory, scammers have been sending emails to people stating that their computers have been hacked.</p>
            
        </div>
    </div>
    <br />


    <nav class="mb-2">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <br />
</div>