
@{
    ViewData["Title"] = "Privacy";
}

    <div class="container mb-3">
        <br />
        <h2 class="text-center mt-3 mb-3">Informare privind prelucrarea datelor cu caracter personal în cadrul ICI București</h2>
        <br />
        <p class="text-justify mt-3">Începând cu data de 25 mai 2018, Regulamentul 2016/679/UE privind protecția persoanelor fizice in ceea ce privește prelucrarea datelor cu caracter personal și privind libera circulație a acestor date și de aborgare a Directivei 95/46/CE (denumit in continuare Regulament) va fi aplicat în toate statele Uniunii Europene. Prin intermediul acestui Regulament se dorește crearea unui cadrul legislativ uniform și unitar pe teritoriul UE care să nu mai necesite măsuri naționale de implementare.</p>
        <p class="text-justify font-weight-bold">Modificări ale documentului</p>
        <p class="text-justify">Această Informare privind prelucrarea datelor cu caracter personal este actualizată periodic; ori de câte ori vom face o modificare, o vom afișa pe site-ul nostru web www.ici.ro și vă vom anunța.</p>
        <p class="text-justify font-weight-bold">Modul de utilizare al acestei informări</p>
        <p class="text-justify">În această informare, explicăm modul în care procesăm, inclusiv colectăm, utilizăm, facem schimb de și protejăm datele dumneavoastră cu caracter personal, atunci când utilizați produsele și serviciile noastre, precum și site-ul nostru web.</p>
        <p class="text-justify font-weight-bold">Cine suntem</p>
        <p class="text-justify">
            Suntem Institutul National de Cercetare-Dezvoltare in Informatică, pe scurt ICI București.
            În această Informare privind prelucrarea datelor cu caracter personal:
            <ul>
                <li>„noi/al nostru” înseamnă ICI București;</li>
                <li>„terță parte” înseamnă altcineva decât noi sau dumneavoastră.</li>

            </ul>
            Sediul nostru este situat la adresa B-dul Mareșal Averescu nr.8-10, sector 1, București. Suntem înregistrați în România sub nr. J40/11029/1999 cu numele Institutul Național de Cercetare-Dezvoltare in Informatică – ICI București.

            Numărul nostru de telefon din centrală este +40213160736 sau ne puteți trimite un e-mail la adresa office@ici.ro

        </p>
        <p class="text-justify font-weight-bold"> Cum ne puteți contacta</p>
        <p class="text-justify">Opinia dumneavoastră este importantă pentru noi – dacă aveți întrebări cu privire la Politica privind prelucrarea datelor cu caracter personal, ne puteți trimite un e-mail la adresa office@ici.ro. Puteți contacta responsabilul cu protecția datelor direct prin e-mail la adresa dpo@ici.ro, prin poștă sau curier la adresa B-dul Mareșal Averescu nr.8-10 sector 1, București, România punând corespondența Dumneavoastră în atenția responsabilului cu protecția datelor.</p>
        <p class="text-justify font-weight-bold">Principiile noastre</p>
        <p class="text-justify">
            ICI București și-a luat angajamentul să vă respecte viața privată. Luăm în serios protecția datelor, securitatea și conformarea cu legislația privind protecția datelor cu caracter personal și a vieții private.

            ICI București, prin activitatea pe care o desfășoară folosește date cu caracter personal în
            numeroase servicii pe care le oferă:
            <ul>
                <li>Servicii de cercetare-dezvoltare-inovare</li>
                <li>Servicii specifice Registrului Român de domenii ROTLD</li>
                <li>Servicii necesare pentru avizarea dispozitivelor electronice de marcat.</li>

            </ul>
            In acest context, ICI București depune toate eforturile pentru a se alinia prevederilor
            Regulamentului, motiv pentru care oferă această informare tuturor celor implicați.

            Astfel, ICI București va folosi un număr cât mai redus de date cu caracter personal și de asemenea, va asigura condițiile necesare de securitate a acestor date, in eventualitatea unor atacuri cibernetice.

            In aceeași măsură, ICI București intreprinde demersurile necesare pentru reducerea numărului de prelucrări asupra datelor cu caracter personal și numai in măsura in care acestea sunt absolut necesare pentru activitățile pe care le desfășoară.


        </p>
        <p class="text-justify font-weight-bold">Prelucrarea datelor</p>
        <p>
            Prelucrarea datelor cu caracter personal se realizează in scop contractual și legal, fără ca datele să fie folosite in alte scopuri decât cele menționate mai sus.Temeiul prelucrării este constitutit de contractele incheiate intre ICI București și dumneavoastră și de prevederile legale aplicabile (articolul 6, aliniatul (1) lit. b,c,d,e, din Regulament).

            Astfel, pentru facilitarea desfășurării activităților și in vederea indeplinirii obligațiilor legale ce decurg din activitatea ICI București, este posibil să comunicăm aceste date către autorități publice, operatori, terți sau altor categorii de destinatari, in măsura in care interesul este legitim, se supune prevederilor legale existente și se garantează protejarea lor.

            Tot în scop contractual, ICI București poate transfera datele cu caracter personal în țări ale UE, către autorități și organisme internaționale competente din domeniul de activitate, în temeiul art 6, aliniatul 3, lit. a, b.
            ICI  București  va  prelucra  datele  dumneavoastră  cu  caracter  personal  în  baza
            următoarelor:
            <ul>
                <li>Executarea sau încheierea contractului cu dumneavoastră și pentru a da curs solicitărilor dumneavoastră. De exemplu, pentru a face parte dintr-un proiect de cercetare-dezvoltare, pentru a publica în una din revistele noastre de specialitate, pentru a putea folosi unul din serviciile oferite de ROTLD sau pentru a aviza unul din aparatele dumneavoastră electronice de marcat.</li>
                <li>
                    Interesele	legitime	ale  ICI  București,  de	exemplu,	prevenirea	fraudelor,
                    menținerea securității rețelei și a serviciilor noastre, menținerea unui standard ridicat al securității datelor dumneavoastră. Ori de câte ori ne bazăm pe acest temei juridic pentru a prelucra datele dumneavoastră, evaluăm interesele noastre pentru a ne asigura că acestea nu prevalează asupra drepturilor dumneavoastră. În plus, în unele cazuri aveți dreptul de a vă opune acestei prelucrări. Pentru informații suplimentare, vă rugăm să consultați secțiunea Drepturile dumneavoastră din acest document.
                </li>
                <li>
                    Conformarea  cu  o  cerință  legală  imperativă,  inclusiv,  de  exemplu,  cerințe
                    contabile și fiscale, care fac obiectul unor politici interne stricte (cum ar fi perioadele de păstrare), proceduri, și dreptul dumneavoastră de a restricționa utilizarea datelor proprii, care controlează obiectul serviciilor de asistență juridică ce vor fi prestate;
                </li>
                <li>
                    Consimțământul pe care îl acordati atunci când ICI Bucuresti nu se bazează pe
                    alt temei legal. Consimțământul poate fi retras în orice moment.
                </li>

            </ul>
            Vom colecta datele dumneavoastră cu caracter personal atunci când, de exemplu:
            <ul>
                <li>Doriți să faceți parte din echipa unui proiect de cercetare-dezvoltare-inovare;</li>
                <li>Doriti să publicați intr-una din revistele noastre de specialitate;</li>
                <li>
                    Doriți să vă inregistrați și să vă conformați legislației privind avizarea dispozitivelor
                    electronice de marcat;
                </li>
                <li>Doriți să obțineți/transferați/ modificați/actualizați sau să ștergeți un domeniu;</li>
                <li>
                    Doriți să vă abonații la buletine informative, alerte sau alte servicii oferite de noi;
                </li>
                <li>
                    Ne solicitati informații în legătură cu un serviciu (domenii deținute, corecție date deținător, confirmare deținător domeniu);
                </li>
                <li>Vizitați sau navigați pe site-ul nostru sau alte site-uri ale ICI;</li>
                <li>Ați acordat permisiunea altor societăți, cum ar fi partenerii sau asociații noștrii, precum și unor terți furnizori sau contractanți ai noștri, să facă schimb de informații cu noi în ceea ce privește informațiile cu caracter personal;</li>
                <li>Atunci când datele dumneavoastră cu caracter personal sunt publice;</li>
                <li>Sunteți clientul unei activități comerciale pe care o achiziționăm.</li>
            </ul>
            De asemenea, colectăm informații de la anumite organizații, dacă este cazul și în măsura în care avem temeiuri legale în acest sens. Acestea includ agenții de prevenire a fraudelor, anuare comerciale, agentii/autorități publice de verificare/control, etc.

            Este posibil să oferim datele dumneavoastră personale unor organizații pentru indeplinirea atribuțiilor lor, dacă este cazul și în măsura în care avem temeiuri legale în acest sens. Acestea includ autorități publice, agenții de prevenire a fraudelor, agenții/autorități publice de verificare/control etc.

            Utilizăm cookie-uri (fișiere text de mici dimensiuni stocate în browser) pentru navigare. Pentru detalii suplimentare în acest sens și în legătură cu modul de a opta pentru renunțarea la acestea, vă rugăm să consultați secțiunea Cookie-uri pe site-ul nostru.

        </p>
        <p class="text-justify font-weight-bold">Datele cu caracter personal pe care le colectam</p>
        <p class="text-justify">
            Conform Regulamentului, date cu caracter personal înseamnă ,,orice informații privind o persoană fizică identificată sau identificabilă („persoana vizată”); o persoană fizică identificabilă este o persoană care poate fi identificată, direct sau indirect, în special prin referire la un element de identificare, cum ar fi un nume, un număr de identificare, date de localizare, un identificator online, sau la unul sau mai multe elemente specifice, proprii identității sale fizice, fiziologice, genetice, psihice, economice, culturale sau sociale” ( art. 4 din Regulament)
            In acest sens, ICI București poate colecta următoarele date
            <ul>
                <li>Numele și prenumele, adresa, numărul de telefon fix și/sau mobil, data nașterii, sexul și adresa de e-mail;</li>
                <li>Codul numeric personal;</li>
                <li>Contactul dumneavoastră cu noi, cum ar fi o notă sau înregistrarea unui apel pe care l-ai făcut către unul dintre centrele noastre de contact, un e-mail sau o scrisoare transmise sau alte evidențe ale unui contact cu noi;</li>
                <li>
                    A se vedea secțiunea Cookie-uri pentru detalii privind ceea ce colectăm utilizând
                    cookie-urile;
                </li>
                <li>Informațiile pe care le obținem din alte surse, agenții de prevenire a fraudelor, precum și de alți furnizori de date. Acestea includ date demografice, date referitoare la interese, precum și comportamentul la navigarea online.</li>
            </ul>
        </p>
        <p class="text-justify font-weight-bold">Scopul prelucrarii datelor cu caracter personal</p>
        <p class="text-justify">
            Scopurile utilizarii datelor dumneavoastră cu caracter personal
        </p>
        <p class="text-justify">1. Pentru prestarea serviciului nostru</p>
        <p class="text-justify">
            Prelucrarea comenzii dumneavoastră și furnizarea serviciului dorit
            <ul>
                <li>
                    Pentru prelucrarea serviciului pe care le-ați achiziționat de la noi, precum și pentru
                    a vă ține la curent cu evoluția comenzii dumneavoastră;
                </li>
                <li>Pentru a furniza serviciile noastre. Aceasta include alte servicii care nu sunt incluse în contractul incheiat cu dumneavoastr.,</li>
            </ul>
        </p>
        <p class="text-justify">
            Facturare și relații cu clienții
            <ul>
                <li>Pentru a vă factura pentru utilizarea serviciilor noastre;</li>
                <li>
                    Pentru a vă contacta în cazul în care datele de facturare pe care ni le-ați furnizat
                    sunt pe cale să expire sau nu putem încasa plata;
                </li>
                <li>
                    Pentru a răspunde la orice întrebări sau preocupări pe care le puteți avea în legătură
                    cu serviciile noastre.
                </li>

            </ul>

        </p>
        <p class="text-justify">
            Mesaje privind serviciile
            <ul>
                <li>Vă vom contacta cu mesaje pentru a vă furniza informații la zi în legătură cu serviciile noastre, de exemplu, în legătură cu modificările termenilor și condițiilor noastre sau întreruperea unor servicii.</li>
            </ul>
            ICI București utilizează date cu caracter personal cum ar fi numele dumneavoastră, adresa de e-mail, numărul de telefon fix/mobil pentru a putea face cele menționate mai sus.
        </p>
        <p class="text-justify">
            2. Pentru îmbunătățirea serviciilor pe care vi le oferim
            Îmbunătățiri și inovații privind produsele și serviciile noastre
            <ul>
                <li>Colectăm informații anonime, fără elemente de identificare sau agregate în scopul îmbunătățirii serviciilor pe care le oferim. Niciuna dintre aceste date analitice nu poate duce la identificarea dumneavoastră.</li>
            </ul>
        </p>
        <p class="text-justify">
            3. Cercetare și analiză
            Utilizăm diverse metode de analiză, inclusiv ceea ce este denumit de obicei „Analiza Big
            Data”.
            Utilizăm analizele pentru:
            <ul>
                <li>Cercetare de piață și pentru a realiza analize de cercetare și statistice, inclusiv monitorizarea modului în care clienții utilizează rețelele, produsele și serviciile noastre, în mod anonim sau personal;</li>
                <li>Furnizarea de rapoarte către terțe părți (aceste rapoarte nu conțin informații care să vă poată identifica în calitate de persoană fizică).</li>
            </ul>

        </p>
        <p class="text-justify">
            4. Verificări ale identității
            <ul>
                <li>
                    De asemenea, vom utiliza datele dumneavoastră cu caracter personal în scopul verificării identității, pentru a asigura accesul la contul dumneavoastră și în general pentru administrarea contului.
                </li>
            </ul>
        </p>
        <p class="text-justify">
            5. Prevenirea fraudelor și securitate
            <ul>
                <li>Vom prelucra datele cu caracter personal în scopuri de protecție anti-fraudă și detectare a fraudelor, pentru protejarea rețelelor noastre și detectarea utilizării incorecte a contului dumneavostră sau a avariilor la rețelele noastre, pentru recuperarea datoriilor sau a-i detecta pe cei care nu au achitat contravaloarea serviciilor utilizate.</li>
            </ul>
        </p>

        <p class="text-justify font-weight-bold">Modalitata in care facem schimb de date cu caracter personal</p>
        <p class="text-justify">
            Dacă este cazul, facem schimb de informații cu caracter personal cu:
            <ul>
                <li>Instituții publice din domeniul cercetării-dezvoltarii-inovarii cu care incheiem contracte de parteneriat;</li>
                <li>Parteneri sau agenți implicați în livrarea serviciului pe care l-ați comandat sau utilizat (din domenii.ro);</li>
                <li>Societăți contractate să presteze servicii pentru sau în numele ICI</li>
                <li>
                    Furnizorii de registre ale abonaților, dacă nu v-ați exprimat opțiunea de a nu fi înscris
                    în aceste registre;
                </li>
                <li>Agenții de aplicare a legii, organe guvernamentale, organizații de reglementare, instanțe sau alte autorități publice dacă avem această obligație legală sau suntem autorizați prin lege;</li>
                <li>
                    O terță parte sau un organ, atunci când dezvăluirea respectivă este necesară pentru
                    îndeplinirea oricărei legi aplicabile sau a altei cerințe legale sau de reglementare;
                </li>
                <li>Alte terțe părți, atunci când le-ai dat acordul pentru dezvăluire în scopuri de autentificare și prevenire a fraudelor.</li>
            </ul>
            Managementul fraudelor și aplicarea legii
            <ul>
                <li>Vom dezvălui informații dacă acest lucru este justificat în scopul de a ne proteja împotriva fraudelor, a ne apăra drepturile sau proprietatea, sau a proteja interesele clienților noștri.</li>
                <li>De asemenea, este posibil să fie necesar să dezvăluim informațiile dumneavoastră pentru a ne conforma obligației legale de a răspunde la cererile legale ale autorităților. Datele dumneavoastră cu caracter personal vor fi comunicate doar atunci când considerăm, cu bună credință, că avem obligația de a face acest lucru în conformitate cu legea și în baza unei evaluări exhaustive a tuturor cerințelor legale.</li>
            </ul>
        </p>
        <p class="text-justify font-weight-bold">Terțele părți cu care lucrăm</p>

        <p class="text-justify">
            Dacă ați achiziționat servicii ROTLD utilizând o terță parte sau o organizație parteneră, de multe ori trebuie să facem schimb de informații cu acestea ca parte a acțiunii de administrare a acelei relații și a contului dumneavoastră.
        </p>
        <p class="text-justify">
            Dacă am încheiat un contract cu un prestator de servicii sau contractant pentru a ne presta servicii sau a presta un serviciu în numele nostru, iar aceștia pot avea acces la datele dumneavoastră cu caracter personal, nu îi autorizăm să utilizeze sau să dezvăluie datele dumneavoastră cu caracter personal decât în legătură cu prestarea serviciilor lor.
        </p>
        <p class="text-justify">
            Colectăm și combinăm informații în scopul de a monitoriza utilizarea de către dumneavoastră a produselor și serviciilor, precum și utilizarea acestora de către ceilalți clienți ai noștri, precum și pentru a ne ajuta să îmbunătățim calitatea produselor și serviciilor
            oferite. Furnizăm aceste informații unor terțe părți (de exemplu, furnizorilor de conținut și agențiilor de publicitate), dar nicio astfel de raportare către o terță parte nu va include informații ce pot identifica un client individual.
        </p>
        <p class="text-justify font-weight-bold">Transferuri internaționale de date</p>


        <p class="text-justify">În prezent, datele noastre sunt păstrate în locațiile noastre din România.</p>


        <p class="text-justify">
            Poate fi necesar să transferăm informațiile dumneavoastră către alte prestatori de servicii din țări din afara Spațiului Economic European (SEE). SEE este alcătuit din țările Uniunii Europene, Elveția, Islanda, Liechtenstein și Norvegia: se consideră că acestea au legi echivalente în ceea ce privește protecția datelor și a vieții private. Acest tip de transfer de date poate avea loc dacă serverele noastre (respectiv, locul unde stocăm datele) sau furnizorii și prestatorii noștri își au sediul în afara SEE, sau dacă utilizezi serviciile și produsele noastre în timp ce vizitezi țări din afara acestui spațiu.
        </p>
        <p class="text-justify">
            Dacă ICI București transmite informațiile dumneavoastră către o țară din afara SEE, ne vom asigura că informațiile dumneavoastră sunt protejate corespunzător. Ne vom asigura întotdeauna că există un contract legal corespunzător care acoperă transferul de date, în conformitate	cu	standardele	aprobate	de	Comisia	Europeană (https://ec.europa.eu/info/law/law-topic/data-protection/data-transfers-outside-eu/model- contracts-transfer-personal-data-third-countries_en). În plus, dacă se consideră că țara nu are legi echivalente cu standardele UE de protecție a datelor, atunci vom cere terței părți să încheie un contract legal care să reflecte aceste standarde.
        </p>
        <p class="text-justify font-weight-bold">
            Durata de păstrare a datelor dumneavoastră cu caracter personal

        </p>
        <p class="text-justify">
            Vom stoca informațiile dumneavoastră atât timp cât ni se cere prin lege. Dacă nu există nicio cerință legală, le vom stoca doar atât timp cât este necesar, in baza contractului incheiat cu dumneavoastră.
        </p>
        <p class="text-justify">
            Cu excepția situației în care legea prevede altfel, de regulă vom prelucra datele dumneavoastră pe perioada existenței unui contract între dumneavoastră și ICI București.
        </p>



        <p class="text-justify font-weight-bold"> Păstrarea în siguranță a datelor dumneavoastră cu caracter personal</p>

        <p class="text-justify">
            Avem echipe de securitate specializate care analizează și îmbunătățesc în mod constant măsurile pe care le-am adoptat pentru protecția datelor dumneavoastră cu caracter personal împotriva oricărui acces neautorizat, pierdere accidentală, dezvăluire sau distrugere.

        </p>

        <p class="text-justify">
            Comunicările prin internet (cum ar fi e-mailurile) nu sunt sigure dacă nu sunt criptate. Comunicările dumneavoastră pot traversa mai multe țări înainte de a fi remise, deoarece aceasta este natura internetului.
        </p>
        <p class="text-justify">
            Nu putem accepta responsabilitatea pentru niciun acces neautorizat sau pierdere de date
            cu caracter personal care nu ține de controlul nostru.
        </p>
        <p class="text-justify">
            Nu vom cere niciodată să ne comunicați informațiile dumneavoastră sigure, personale sau privind contul, printr-un mijloc de comunicare nesolicitat. Răspundeți pentru păstrarea în siguranță a informațiilor personale și privind contul și pentru necomunicarea acestora către alte persoane.
        </p>
        <p class="text-justify">
            Site-ul nostru web poate conține link-uri la site-urile web ale unor terțe părți. Nu răspundem pentru securitatea și conținutul respectivelor site-uri ale terțelor părți. Prin urmare, asigurați- vă că citiți politica acelei societăți privind protecția datelor și cookie-urile înainte de a utiliza sau de a pune informațiile personale pe site-ul acestora.
        </p>
        <p class="text-justify">
            Același lucru se aplică în cazul oricăror site-uri sau conținuturi ale terțelor părți la care vă
            conectați utilizând produsele și serviciile noastre.
        </p>
        <p class="text-justify">
            Puteți alege să dezvăluiți datele dumneavoastră în anumite moduri cum ar fi plug-in-urile rețelelor de socializare (inclusiv cele oferite de Google, Facebook, Twitter și Pinterest) sau utilizând servicii ale terțelor părți care vă permit să postați public analize sau alte informații, iar o terță parte ar putea utiliza informațiile respective.
        </p>
        <p class="text-justify">
            Plug-in-urile rețelelor de socializare și aplicațiile de socializare sunt operate chiar de rețeaua de socializare și respectă condițiile de utilizare și politicile acelor rețele privind protecția datelor și cookie-urile. Trebuie să vă asigurați că aveți cunoștință de acestea.

        </p>


        <p class="text-justify font-weight-bold">Drepturile dumneavoastra</p>
        <p class="text-justify">
            In plus, din 25 mai 2018, daca aveți nemulțumiri sau intrebări legate de prelucrarea datelor personale va puteti adresa Responsabilului pentru protectia datelor la adresa dpo@ici.ro. Plângeri referitoare la prelucrarea datelor personale pot fi adresate Autorității Naționale de Supraveghere a Prelucrării Datelor cu Caracter Personal.
        </p>
        <p class="text-justify">
            Conform Regulamentului general privind protectia datelor 679/2016, persoanele fizice beneficiază de dreptul de acces, rectificare, stergere sau portabilitate a datelor, restricționarea prelucrarii și opoziție.

        </p>

        <p class="text-justify">
            <b>Dreptul de acces (art 15 din Regulament)</b> - dreptul de a obține o confirmare din partea ICI București ca datele dumneavoastră sunt prelucrare sau nu, iar in caz afirmativ, acces la datele respective și la informații privind modalitatea în care sunt prelucrate.
        </p>
        <p class="text-justify">
            <b>Dreptul la rectificarea datelor (art 16 din Regulament)</b> – dreptul de a obține de la ICI București, fără întârzieri nejustificate, rectificarea datelor dumneavoastră. De asemenea, dreptul de a obține completarea datelor cu caracter personal care sunt incomplete, inclusiv prin furnizarea unei declarații suplimentare.
            </p>
        <p class="text-justify">
            <b>Dreptul la ștergerea datelor (dreptul de a fi uitat – art 17 Din Regulament)</b> - dreptul de a obține din partea ICI București ștergerea datelor cu caracter personal, fără întârzieri nejustificate. ICI București are obligația de a șterge datele cu caracter personal fără întârzieri nejustificate în cazul în care se aplică unul dintre următoarele motive:
        <ul>
            <li>datele nu mai sunt necesare pentru îndeplinirea scopurilor pentru care au fost colectate sau prelucrate;</li>
            <li>
                persoana își retrage consimțământul pe baza căruia are loc prelucrarea și nu există
                niciun alt temei juridic ptru prelucrarea
            </li>
            <li>persoana se opune prelucrării și nu există motive legitime care să prevaleze în ceea ce privește prelucrarea</li>
            <li>datele cu caracter personal au fost prelucrate ilegal;</li>
            <li>
                datele cu caracter personal trebuie șterse pentru respectarea unei obligații legale care revine ICI București în temeiul dreptului Uniunii sau al dreptului intern sub
                incidența căruia se află;
            </li>
            <li>datele cu caracter personal au fost colectate în legătură cu oferirea de servicii ale societății informaționale;</li>
          
        </ul>
        </p>
        <p class="text-justify"><b>Dreptul la restricționarea prelucrării (art 18 din Regulamnet)</b> - dreptul de a obține din partea ICI București restricționarea prelucrării în cazul în care se aplică unul din următoarele cazuri:
        <ul>
            <li>când se contestă exactitatea datelor, pentru o perioadă care îi permite operatorului să verifice exactitatea datelor;</li>
            <li>prelucrarea este ilegală, iar persoana vizată se opune ștergerii datelor cu caracter personal, solicitând în schimb restricționarea utilizării lor;</li>
            <li>ICI București nu mai are nevoie de datele cu caracter personal în scopul prelucrării, dar persoana le solicită pentru constatarea, exercitarea sau apărarea unui drept în instanță;</li>
            <li>
                persoana vizată s-a opus prelucrării în conformitate, iar datele sunt restricționate pentru intervalul de timp în care se verifică dacă drepturile legitime ale ICI București
                prevalează asupra celor ale persoanei.
            </li>
            
        </ul>
        </p>
        <p class="text-justify"><b>Dreptul la portabilitatea datelor (art. 20 din Regulament)</b> – se referă la dreptul de a primi datele personale intr-un format structurat, utilizat în mod current și care poate fi citit automat și la dreptul ca aceste date să fie transmise direct altui operator, dacă acest lucru este fezabil din punct de vedere ethnic.</p>
        <p class="text-justify"><b>Dreptul la opoziție (art 21 din Regulament)</b> - dreptul persoanei de a se opune, din motive legate de situația particulară în care se află, prelucrării datelor cu caracter personal care o privesc. ICI București nu mai prelucrează datele cu caracter personal, cu excepția cazului în care demonstrează că are motive legitime și imperioase care justifică prelucrarea și care prevalează asupra intereselor, drepturilor și libertăților persoanei sau că scopul este constatarea, exercitarea sau apărarea unui drept în instanță.</p>
        <p class="text-justify">Pentru exercitarea acestor drepturi, vă puteți adresa cu o cerere scrisă, datată si semnată, transmisă la sediul ICI București, sector 1, Bdul Mareșal Averescu nr. 8-10.</p>
        <p class="text-justify">Daca unele din datele dumneavoastră sunt incorecte, vă rugăm sa ne informați cât mai curând posibil.</p>
        <p class="text-justify mb-4">
            ICI București este inregistrată in Registrul de evidență a prelucrărilor de date cu caracter
            personal cu numarul 10458, toate datele de contact fiind specificate in site.
        </p>
        <br/>
    </div>