
@{
    ViewData["Title"] = "Privacy";
}

<div class="container">
    <br />
    <h3>What is this privacy policy about?</h3>
    <p class="text-justify">
        WizIQ is an online service dedicated to helping all learners and teachers to connect more effectively with one another. The personal data you choose to provide on this site is used to help you describe yourself to other users, and helps WizIQ provide its services.

        This privacy policy is to clarify how WizIQ (“WizIQ”, “we”, “us”, “our”) processes your ‘personal data’ (“data”, “information”) after you have granted us the permission to use it.

        ‘Personal data’ means any information relating to an identified or identifiable natural person (‘data subject’); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.

        (GDPR, Art 4., Definitions)

        WizIQ respects your privacy and we want you to understand how we collect, store, use, and share your personal data. The policy also illustrates your rights to access, correct, restrict and/or delete your personal data that we have on you.

        This Privacy Policy applies when you visit or use the WizIQ websites (e.g. https://www.wiziq.com/), websites (portals, academies, online businesses etc.) running on WizIQ application (white-labeled or otherwise), mobile applications running on WizIQ mobile solution, APIs and plugins. We will call these ‘WizIQ Properties’ in this document.

    </p>

    <br />
</div>

<div class="container">
    <br />
    <h3>Data that we collect on you</h3>
    <p class="text-justify">
        WizIQ properties use automated ways of collecting your data, necessary to provide the products and services offered by us.
    </p>


    <br />
</div>

<div class="container">
    <br />
    <h3>How do we collect your personal data?</h3>
    <p class="text-justify">
        
    </p>


    <br />
</div>

<div class="container">
    <br />
    <h3>How do we use your personal data?</h3>
    <p class="text-justify">

    </p>


    <br />
</div>

<div class="container">
    <br />
    <h3>Who we share your personal data with?</h3>
    <p class="text-justify">

    </p>


    <br />
</div>

<div class="container">
    <br />
    <h3>What are your rights?</h3>
    <p class="text-justify">

    </p>


    <br />
</div>

<div class="container">
    <br />
    <h3>What is our policy on children?</h3>
    <p class="text-justify">

    </p>


    <br />
</div>

<div class="container">
    <br />
    <h3>Where do we store your data?</h3>
    <p class="text-justify">

    </p>


    <br />
</div>

<div class="container">
    <br />
    <h3>Legal disclaimer</h3>
    <p class="text-justify">

    </p>


    <br />
</div>

<div class="container">
    <br />
    <h3>Changes to this privacy policy</h3>
    <p class="text-justify">

    </p>


    <br />
</div>

<div class="container">
    <br />
    <h3>Contact Information</h3>
    <p class="text-justify">

    </p>


    <br />
</div>