
@{
    ViewData["Title"] = "Team";
}





<br />
<div class="card-deck">
    <div class="card align-items-center" style="width:13rem;">
        <img src="~/images/Paul-Vasile.jpg" class="card-img-top" style="height: 200px;width: 200px;">
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


    <div class="card align-items-center" style="width: 13rem;">
        <img src="~/images/Andreea 200x200.png" class="card-img-top"  style="height: 200px;width: 200px;">
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


    <div class="card align-items-center" style="width:13rem;">
        <img src="~/images/Carmen-Cirnu.jpg" class="card-img-top"  style="height: 200px;width: 200px;" >
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


</div>

<br />
<div class="card-deck">
    <div class="card align-items-center " style="width:13rem;">
        <img src="~/images/Paul-Vasile.jpg" class="card-img-top"  style="height: 200px;width: 200px;">
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


    <div class="card align-items-center" style="width:13rem;">
        <img src="~/images/Andreea 200x200.png" class="card-img-top"  style="height: 200px;width: 200px;">
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


    <div class="card align-items-center" style="width:13rem;">
        <img src="~/images/Carmen-Cirnu.jpg" class="card-img-top"  style="height: 200px;width: 200px;">
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


</div>

<style>
    .card {
        border: none;
    }

   
 
</style>
