
@{
    ViewData["Title"] = "Team";
}





<br />
<div class="card-deck">
    <div class="card align-items-center" style="width:13rem;">
        <img src="~/images/Paul-Vasile.jpg" class="card-img-top" style="height: 200px;width: 200px;">
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


    <div class="card align-items-center" style="width: 13rem;">
        <img src="~/images/Andreea 200x200.png" class="card-img-top"  style="height: 200px;width: 200px;">
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


    <div class="card align-items-center" style="width:13rem;">
        <img src="~/images/Carmen-Cirnu.jpg" class="card-img-top"  style="height: 200px;width: 200px;" >
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


</div>

<br />
<div class="card-deck">
    <div class="card align-items-center " style="width:13rem;">
        <img src="~/images/Paul-Vasile.jpg" class="card-img-top"  style="height: 200px;width: 200px;">
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


    <div class="card align-items-center" style="width:13rem;">
        <img src="~/images/Andreea 200x200.png" class="card-img-top"  style="height: 200px;width: 200px;">
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


    <div class="card align-items-center" style="width:13rem;">
        <img src="~/images/Carmen-Cirnu.jpg" class="card-img-top"  style="height: 200px;width: 200px;">
        <div class="card-body">
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item text-center">Name</li>
                <li class="list-group-item text-center">Position</li>
            </ul>
        </div>
    </div>


</div>

<style>
    .card {
        border: none;
    }

   
 
</style>

<!--
    <body>
        <br />
        <div>
            <div class="row align-items-center">

                <div class="col-sm-4 mb-4">
                    <div class="h-100 w-50">
                        <img class="card-img-top h-50 w-100" src="~/images/profile-picture.png" alt="Card image cap">
                        <div class=" h-25 w-100">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item text-center">Name</li>
                                <li class="list-group-item text-center">Position</li>
                            </ul>

                        </div>
                    </div>

                </div>
                <div class="col-sm-4 mb-4">
                    <div class=" h-100 w-50">
                        <img class="card-img-top h-50 w-100" src="~/images/profile-picture.png" alt="Card image cap" style="position:center">
                        <div class=" h-25 w-100">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item text-center">Name</li>
                                <li class="list-group-item text-center">Position</li>
                            </ul>

                        </div>
                    </div>

                </div>
                <div class="col-sm-4  mb-4">
                    <div class=" h-100 w-50">
                        <img class="card-img-top h-50 w-100" src="~/images/profile-picture.png" alt="Card image cap" style="position:center">
                        <div class=" h-25 w-100">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item text-center">Name</li>
                                <li class="list-group-item text-center">Position</li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>


            <div class="row align-items-center">
                <div class="col-sm-4  mb-4">
                    <div class="h-100 w-50">
                        <img class="card-img-top h-50 w-100" src="~/images/profile-picture.png" alt="Card image cap" style="position:center">
                        <div class=" h-25 w-100">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item text-center">Name</li>
                                <li class="list-group-item text-center">Position</li>
                            </ul>

                        </div>
                    </div>

                </div>
                <div class="col-sm-4  mb-4">
                    <div class=" h-100 w-50">
                        <img class="card-img-top h-50 w-100" src="~/images/profile-picture.png" alt="Card image cap" style="position:center">
                        <div class=" h-25 w-100">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item text-center">Name</li>
                                <li class="list-group-item text-center">Position</li>
                            </ul>

                        </div>
                    </div>

                </div>
                <div class="col-sm-4  mb-4">
                    <div class=" h-100 w-50">
                        <img class="card-img-top h-50 w-100" src="~/images/profile-picture.png" alt="Card image cap" style="position:center">
                        <div class=" h-25 w-100">
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item text-center">Name</li>
                                <li class="list-group-item text-center">Position</li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

        </div>



    </body>
    -->
