
@{
    ViewData["Title"] = "TermsAndConditions";
}

    <div class="container mb-3">
        <br />
        <h2 class="text-center mt-3 mb-3">Politica de confidentialitate a datelor</h2>
        <br />
        <p class="text-justify font-weight-bold">1. Date de contact</p>
        <p class="text-justify">
            Institutul Național de Cercetare-Dezvoltare in Informatică – ICI București, este o instituție de cercetare-dezvoltare-inovare care funcționează in baza HG nr. 1621/2003, cu modificările și completările ulterioare, având site-ul web www.ici.ro și care poate fi contactată prin următoarele moduri:
            <ul>
                <li>telefonic: ☎ 40213160736</li>
                <li>e-mail: office@ici.ro</li>
                <li>la adresa: Bdul Maresal Averescu nr 8 -10, sector 1, București</li>
            </ul>
            Datele de identificare ale instituției sunt: CUI: RO2785503 și Nr. inregistrare regsitrul comerțului:
            J40/11029/1999

        </p>
        <p class="text-justify font-weight-bold">2. Generalitati</p>
        <p class="text-justify">Documentul pe care tocmai îl parcurgeți în acest moment este, de fapt, unul dintre modurile în care noi dorim să vă arătăm ca încrederea pe care ne-o acordați nu este unilaterală, și că și noi, la rândul nostru, luăm toate măsurile necesare pentru ca vizita dumneavoastră în siteul nostru să fie cât mai plăcută și fără consecințe pe care nu le anticipați.</p>
        <p class="text-justify">Pentru orice întrebare sau nedumerire în privința termenilor utilizați mai jos sau asupra oricăror alte probleme legate de modul în care noi ințelegem să păstrăm confidențialitatea datelor dumneavoastră, vă rugăm sa ne contactați prin formularul de contact existent pe site.</p>
        <p class="text-justify font-weight-bold">3. Ce fel de informatii colectam de la dumneavoastra</p>

        <p class="text-justify">
            ICI BUCUREȘTI, prin ROTLD colectează informație de la utilizatorii săi în următoarele modalități: direct de la utilizator, din rapoartele traficului inregistrat de serverele care găzduiesc site-ul www.rotld.ro, precum și prin intermediul cookieurilor.

        </p>
        <p class="text-justify font-weight-bold">Informație furnizată direct de utilizator:</p>
        <p class="text-justify">Atunci cand vă abonați la un serviciu furnizat de ROTLD , vă putem intreba care este numele dumneavoastră, care este adresa dumneavoastră de e-mail și vă putem cere alte informații personale. Aceste informații oferite în mod voluntar ne ajută la identificarea corectă a dumneavoastră și la oferirea serviciului dorit de dumneavoastră fără crearea unor situații neplăcute precum confuzii de nume, transfer greșit de drepturi etc.
        </p>
        <p class="text-justify font-weight-bold"> Informație din raportul de trafic al serverului:</p>
        <p class="text-justify">
            Atunci cand vizitați un site web, dezvăluiți anumite informații despre dumneavoastră, ca adresa dumneavoastră IP, ora vizitei dumneavoastră, locul de unde ați intrat in site-urile noastre. ICI BUCUREȘTI, prin ROTLD, ca și alți operatori, inregistrează această informație.
        </p>
        <p class="text-justify font-weight-bold">Informație furnizată prin intermediul Cookie-uri:</p>
        <p class="text-justify">
            În ideea de a oferi un serviciu personalizat utilizatorilor noștri, ICI BUCUREȘTI prin ROTLD poate folosi cookie-uri pentru a facilita stocarea și urmărirea preferințelor dumneavoastră. Puteți reseta browserul dumneavoastră fie să vă anunțe ori de cate ori primiți câte un cookie fie să refuze acceptarea lor. Trebuie însă să aflați că unele secțiuni ale site-ului nostru nu vor putea fi vizualizate normal dacă ați setat browser-ul dumneavoastră să respingă cookieurile.
           
        </p>
        <p class="text-justify">
            Vă rugăm să rețineți că ori de cate ori dezvăluiți în mod voluntar informații personale în mediul de comunicare online, ca forumurile online, programul de e-mail, programul de FTP, grupurile de discuții, serviciile de chat, informația dezvaluită de dumneavoastră poate fi ușor colectată și folosită de persoane neautorizate. Deși ICI BUCUREȘTI, prin ROTLD, face tot posibilul să protejeze informația dumneavoastră personală, noi nu vă putem asigura sau garanta securitatea oricărui tip de informație pe care ni-l transmiteți, astfel încât transmiterea informației într-un mediu inadecvat se face pe propriul dumneavoastră risc. Trebuie să intelegeți, de asemenea, că sunteți unicul responsabil pentru menținerea secretului informațiilor (parole, nume de utilizator, etc), legate de conturile pe care le-ați dobândit ca urmare a folosirii serviciilor oferite de noi.


        </p>
        <p class="text-justify font-weight-bold">4. Cum si cand este folosita informatia</p>
        <p class="text-justify">
            Noi folosim informația colectată de la dumneavoastră în mai multe feluri, in funcție de tipul acesteia
            
            <ul>
                <li>
                    <b> Informație furnizată direct de utilizator:</b> această informație este folosită doar în scopul personalizării serviciilor oferite dumneavoastră și a verificării identității dumneavoastră în vederea executării eventualelor contracte între dumneavoastră și noi, în urma folosirii de către dumneavoastră a serviciilor oferite de noi.

                </li>
                <li>
                    <b>Informația colectată din raportul de trafic al serverului:</b> acest tip de informație ne
                    ajută să identificăm care secțiuni ale site-urilor noastre sunt secțiuni de interes pentru utilizatori. Noi colectăm, de asemenea, adresele IP ale utilizatorilor noștri in scopul administrării sigure a sistemului nostru informatic sau in scopul evitării activităților infracționale.
                </li>
                <li>
                    <b>Informația colectată prin intermediul cookieurilor:</b> noi  utilizăm cookieuri pentru a vă
                    permite folosirea cât mai utilă a serviciilor noastre și în scopul obținerii de informații statistice care să ne permită imbunatățirea serviciilor noastre. Cookieurile (așa cum au fost ele definite mai sus) ne permit să salvăm parolele dumneavoastră de acces și preferințele dumneavoastră, astfel incât să nu fiți nevoit să le introduceți din nou data viitoare când ne vizitați.
                </li>
             

            </ul>
            
        </p>
        <p class="text-justify font-weight-bold">5. Cum protejam noi informatia colectata de la dumneavoastra</p>
        <p class="text-justify">Confidențialitatea și protecția informațiilor colectate de la dumneavoastră sunt de o importanță vitală pentru noi. Noi nu oferim informația colectată unor terți fără consimțământul dumneavoastră expres și prealabil, excepție făcând autoritățile publice, organismele naționale sau ale UE, pentru indeplinirea activităților lor (conform GDPR art 6). Orice statistică privind traficul utilizatorilor noștri, pe care o vom oferi catre terțe părți, este furnizată doar ca ansamblu de date și nu include nici o informație identificabilă personal despre nici un utilizator individual.</p>
        <p class="text-justify">Accesul dumneavoastră la anumite servicii și informații din cadrul site-ului este protejat de o parolă. Va recomandăm să nu dezvaluiți nimănui această parolă. ICI BUCUREȘTI nu vă va cere niciodată parola conturilor dumneavoastră în mesaje sau telefoane nesolicitate. Vă sfătuim deci să nu dezvăluiți această parolă peroanelor care vă cer acest lucru. Mai mult, dacă este posibil, trebuie să vă amintiți să semnați "deconectare" / "log off" / "sign out" din contul dumneavoastră in Forumul, Chatul sau alte servicii online oferite de ICI BUCUREȘTI, la sfârșitul fiecărei sesiuni de utilizare a acestora. Vă sfătuim, de asemenea, să inchideți fereastra browser- ului în care ați lucrat la sfârșitul navigării dumneavoastră în site-urile sau serviciile furnizate de noi.</p>
        <p class="text-justify">Aceste sfaturi sunt destinate să înlăture accesul persoanelor neautorizate la informațiile dumneavoastră personale sau la corespondența dumneavoastră atunci când lucrați intr-o rețea de computere aflată într-un loc public.</p>
        <p class="text-justify">Din păcate, nici o transmisie de date prin intemediul internetului nu poate fi garantată a fi 100% sigură. In consecință, în ciuda eforturilor noastre de a vă proteja informația personala, noi nu putem asigura sau garanta securitatea informațiilor transmise de dumneavoastră către noi, către și de la serviciile noastre online. Vă avertizăm așadar că orice informație trimisă către noi se va face pe propriu dumneavoastră risc.</p>
        <p class="text-justify">În momentul în care noi primim informațiile transmise de dumneavoastră insă, vă garantam ca vom depune toate eforturile pentru a asigura securitatea acestora în sistemele noastre, conform standardelor de securitate impuse de legislația română în vigoare.</p>
            
        
        <p class="text-justify font-weight-bold">6. Cine are acces la informatia colectata de la dumneavoastra</p>
        <p class="text-justify">Prin exceptie de la cazurile expuse mai sus, ICI BUCUREȘTI, prin ROTLD, nu va dezvălui nici un fel de informație identificabilă personal despre utilizatorii săi către terțe părți fără a primi mai intâi consimțământul expres al utilizatorilor in aceasta privință.</p>
        <p class="text-justify">In acelasi timp insă, ICI BUCUREȘTI, prin ROTLD, poate dezvălui informații identificabile personal atunci cand legea prevede expres acest lucru sau când acest lucru este necesar pentru protejarea drepturilor și intereselor noastre.</p>
        <p class="text-justify">În concluzie, atunci când accesați site-urile noastre și sunteți rugat să ne dezvăluiți informații despre dumneavoastră, veți dezvălui aceste informații doar site-urilor noastre, cu excepția cazului când serviciul sau informația respectivă este oferită in parteneriat cu un alt site sau serviciu.</p>
        <p class="text-justify">De fiecare dată însă când un astfel de serviciu este furnizat ăn parteneriat cu un alt site, veți fi informat asupra acestui lucru. In ideea de a vă furniza servicii la standarde cât mai inalte, este necesară partajarea informațiilor dumneavoastră personale cu site-ul sau serviciul copartener. Dacă nu doriți ca aceste date ale dumneavoastră să fie partajate, puteți proceda în consecință, prin a nu permite transferul datelor prin neutilizarea acelui serviciu specific.</p>
        <p class="text-justify">
            Dacă alegeți insă să acceptați partajarea datelor, trebuie să intelegeți că funizorii serviciului în parteneriat pot avea practici separate de confidențialitate și de colectare a datelor.

            ICI BUCUREȘTI nu are nici un fel de control și nu poate garanta asupra tuturor aspectelor juridice pe care le implică folosirea acestor practici independente de confidențialitate.
        </p>
            
        
        <p class="text-justify font-weight-bold">7. Cum putem corecta erorile din datele colectate de la dumneavoastra</p>
        <p class="text-justify">
            Dacă vă creați un cont la unul dintre serviciile noastre, vă trimitem un e-mail de confirmare prin care să vă oferim detaliile noului dumneavoastră cont. Mesajul de confirmare va fi trimis la adresa de e-mail pe care ne-ați furnizat-o și va descrie modalitățile prin care dumneavoastră puteți modifica sau șterge datele contului pe care tocmai l-ați creat. Vă sfătuim să păstrați acest e-mail de confirmare, mai ales că acesta conține și informații care vă pot fi utile atunci când apar probleme în accesarea serviciilor noastre.
        </p>
        <br />
        </div>
