@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header class="text-center">
    <h1 class="text-danger mt-2">@ViewData["Title"] <i class="fas fa-exclamation-circle"></i></h1>
    <h4 class="text-color">You do not have access to this resource.</h4>
</header>
<style>
    .text-color {
        color: #004d99;
    }
</style>