@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


    <h3 class="text-center mt-4" style="color: #00664d;"> Please check your email to reset your password.</h3>
   <hr/>

