@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="d-flex justify-content-center">
    <div class="col-md-4">
        
        <section>
            <form id="account" method="post"> 
               
                <h3  class="text-center text-color">Login</h3>
                
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group text-color">
                    <label asp-for="Input.Email" ></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group text-color">
                    <label asp-for="Input.Password" ></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group text-color">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" >
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group ">
                    <button type="submit" class="btn btn-block button-layout btn-rounded"  >Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword" class="">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
<style>
    .text-color {
        color: #004d99;
    }

    .button-layout {
        color: white;
        background-color: #004d99;
    }
    .link {
        color: #004d99;
        text-decoration: none;
    }
</style>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
