@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="text-color">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p class="text-color">
            Please check your email to confirm your account.
        </p>
    }
    else
    {
        <p class="text-color">
            Please check your email to confirm your account.
        </p>
    }
}
<style>
    .text-color {
        color: #004d99;
    }
</style>