
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Administrator Dashboard</h1>

<div>

    @Html.ActionLink("Change user privileges", "ManageRolesSearchByEmail", "Administrator")<br />

    @Html.ActionLink("View all courses", "Index", "Courses")<br />

    @Html.ActionLink("View all license keys", "Index", "LicenseKeys")<br />

</div>



