
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2 class="text-black-50 text-justify mb-4 mt-3">Administrator Dashboard</h2>

    <div class="align-content-center text-center">
        <div class="card " style="width: 18rem;">

            <a class="btn btn-block btn-info btn-rounded mr-3 mb-2" href="@Url.Action("ManageRolesSearchByEmail", "Administrator")">Change user privileges</a>

        </div>
        <div class="card" style="width: 18rem; ">

            <a class="btn btn-block btn-info btn-rounded mr-3 mb-2" href="@Url.Action("Index", "Courses")">View all courses</a>

        </div>

        <div class="card" style="width: 18rem;">
            <a class="btn btn-block btn-info btn-rounded mb-2" href="@Url.Action("Index","LicenseKeys")">View all license keys</a>


        </div>

    </div>

<style>
    .card{
        border:none;
        

    }
</style>



