@model eLearning.Models.EmailSearch

@{
    ViewData["Title"] = "Manage User Roles";
}
    <h2 class="text-black-50 text-justify mt-3 mb-4">Manage user roles</h2>



<form class="align-items-center" asp-action="ManageRolesSearchByEmail" asp-controller="Administrator">
    <div class="form-group">
        <label class="text-black-50 font-weight-bold mb-2" for="email">Search by email</label>
        <input type="text" class="form-control mb-2" style="width:38%;" id="email" name="email" placeholder="Enter email" required>
    </div>
    <button type="submit" class="btn btn-secondary btn-rounded">Submit</button>
</form>
