
@{
    ViewData["Title"] = "ECBL";
}

<div class="text-center">
    <video id="videoplayer" src="~/Video_Lectures/@ViewBag.lecture_name" controls width="900" height="560" autoplay controlsList="nodownload"></video>
</div>

